@font-face {
    font-family: Poppins;
    src: url(./fonts/Poppins/Poppins-Regular.ttf);
}

body{
    background-color: #000000;
    font-family: Poppins, sans-serif;
    color: white;
    user-select: none;
}

.dashboard{
    background-color: #141516;
    border-radius: 20px;
    padding: 2px;
    margin: 10px;
    margin-top: 10px;
}

.dashboard .texterm{
    margin-left: 10px;
}

.savedb{
    background-color: palevioletred;
    margin-left: auto;
    margin-right: 3px;
    margin-left: 10px;
}

.dashpane{
    padding: 1px 5px;
    border-radius: 10px;
    width: 50%;
    overflow-wrap: break-word;
}

.dashpane h3{
    margin-bottom: -25px;
}

.cashdb{
    background-color: #03a400;
    margin-right: auto;
    margin-left: 3px;
    margin-right: 10px !important;
}

.qview{
    display: flex;
    margin-top: -10px;
    padding-bottom: 10px;
}

.topbar{
    background-color: #141516;
    border-radius: 1000px;
    padding: 2px;
    margin: 10px;
    margin-top: 20px;
    display: flex;
}

.topbar h2{
    background-color: #222529;
    padding: 10px;
    width: 50px;
    border-radius: 10000px;
    margin-right: 5px;
    margin-top: 3px;
    margin-bottom: 3px;
    text-align: center;
}

.topbar h2:first-of-type{
    margin-left: auto;
}

.topbar h2:last-of-type{
    margin-right: auto;
}

.topbar h2:active{
    background-color: #1b1c20;
}

.recent{
    background-color: #141516;
    border-radius: 20px;
    padding: 2px;
    margin: 10px;
    margin-top: 10px;
}

.act{
    padding: 5px;
    margin: 5px 10px;
    border-radius: 10px;
    background-color: #222529;
}

.act:active{
    background-color: #1b1c20;
}

.in{
    background-color: #03b101;
    transition: 0.2s;
}

.out{
    background-color: red;
    transition: 0.2s;
}

.in:hover{
    box-shadow: 2px 2px 20px#03b101;
}

.out:hover{
    box-shadow: 2px 2px 20px red;
}

.in:active{
    box-shadow: 2px 2px 20px green;
    background-color: green;
    transition: 0.2s;
}

.out:active{
    box-shadow: 2px 2px 20px darkred;
    background-color: darkred;
    transition: 0.2s;
}

.goal{
    background-color: #141516;
    border-radius: 20px;
    padding: 2px;
    margin: 10px;
    margin-top: 10px;
}

.btngoal{
    display: block;
    text-align: center;
}

.btngoal button{
    margin: 5px;
    padding: 10px;
    font-family: Poppins;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #222529;
}

.btngoal button:active{
    background-color: #1b1c20;
}

.trackr{
    text-align: center;
    background-color: #222529;
    width:fit-content;
    margin: 10px auto;
    padding: 20px;
    border-radius: 10px;
}